doctype html
html
	head
		title E.V.E.
		script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js")
		script(type='text/javascript' src='../js/config.js')
		script(type='text/javascript' src='../js/utilities.js')
	body
		div.container
			p Getting location...
		script.
			window.onload=getLocation
